<div class="container-loja">

  <h1>🛒 Minha Lista de Compras</h1>

  <form (ngSubmit)="addItem()" [formGroup]="formItem" class="add-item-form">
    <label for="itemName" class="sr-only"></label>
    <input 
      type="text" 
      id="itemName"
      class="input-item"  
      placeholder="Adicione um item" 
      formControlName="itemName" 
      aria-label="Campo para adicionar um novo item" />
    
    <button 
      type="submit" 
      [disabled]="formItem.invalid"
      class="botao-submit">
      {{ editarItem ? "💾 Salvar" : "➕ Adicionar" }}
    </button>
  </form>

  <div class="lista">
    <h3>🛑 Itens Não Comprados</h3>
    <ul class="lista-itens nao-comprados">
      <li *ngFor="let item of itensNaoComprados" class="item">
        <span>{{ item.nome }}</span>
        <div class="acoes">
          <button (click)="toggleItem(item)" class="botao-toggle">✅ Marcar como Comprado</button>
          <button (click)="startEditing(item)" class="botao-editar">✏️ Editar</button>
          <button (click)="removeItem(item)" class="botao-excluir">🗑️ Excluir</button>
        </div>
      </li>
    </ul>

    <h3>✅ Itens Comprados</h3>
    <ul class="lista-itens comprados">
      <li *ngFor="let item of itensComprados" class="item">
        <span>{{ item.nome }}</span>
        <div class="acoes">
          <button (click)="toggleItem(item)" class="botao-toggle">↩️ Desmarcar</button>
          <button (click)="startEditing(item)" class="botao-editar">✏️ Editar</button>
          <button (click)="removeItem(item)" class="botao-excluir">🗑️ Excluir</button>
        </div>
      </li>
    </ul>
  </div>

</div>